<section class="choose">
  <div class="container">
    <h2 class="choose-title">Why Choose Product?</h2>
    <ul class="choose-list">
      <li class="choose-list-item">
        <div class="choose-icon-wrapper">
          <svg width="12" height="18">
            <use href="./img/icon.svg#icon-cursor"></use>
          </svg>
        </div>
        <h3 class="choose-list-title">Special Business</h3>
        <p class="choose-list-subtitle">
          Product helps you see how many more days you need to work<br />
          to reach your financial goal<br />
          for the month and year.
        </p>
      </li>
      <li class="choose-list-item">
        <div class="choose-icon-wrapper">
          <svg width="18" height="18">
            <use href="./img/icon.svg#icon-ziczag"></use>
          </svg>
        </div>
        <h3 class="choose-list-title">Instant Result</h3>
        <p class="choose-list-subtitle">
          Product helps you see how many more days you need to work<br />
          to reach your financial goal<br />
          for the month and year.
        </p>
      </li>
      <li class="choose-list-item">
        <div class="choose-icon-wrapper">
          <svg width="16" height="18">
            <use href="./img/icon.svg#icon-heart"></use>
          </svg>
        </div>
        <h3 class="choose-list-title">Fastest way to organize</h3>
        <p class="choose-list-subtitle">
          Product helps you see how many more days you need to work<br />
          to reach your financial goal<br />
          for the month and year.
        </p>
      </li>
    </ul>
  </div>
</section>
