<section class="join">
  <div class="container join-container">
    <h2 class="join-title">
      Join thousand of other who have already received offers
    </h2>
    <ul class="join-list">
      <li class="join-item">
        <div class="join-img-wrapper">
          <svg width="61" height="61">
            <use href="./img/icon.svg#icon-activity"></use>
          </svg>
        </div>
        <h3 class="join-item-title">Business</h3>
        <p class="join-item-subtitle">
          Cash Flow<br />
          Asset Backed<br />
          Receivables Finance
        </p>
        <p class="join-item-product">Find the best business product</p>
      </li>
      <li class="join-item">
        <div class="join-img-wrapper">
          <svg width="61" height="61">
            <use href="./img/icon.svg#icon-chart"></use>
          </svg>
        </div>
        <h3 class="join-item-title">Enterprise</h3>
        <p class="join-item-subtitle">
          Site Acquisition<br />
          Bridge<br />
          Development Financing
        </p>
        <p class="join-item-product">Find the best business product</p>
      </li>
    </ul>
  </div>
</section>
