<section class="contacts">
  <div class="container contacts-container">
    <h2 class="contacts-title">Contact Us</h2>
    <p class="contacts-subtitle">
      Need more detailed information? Get in touch with us.
    </p>
    <ul class="contacts-social-list">
      <li class="contacts-social-item">
        <a href="" class="contacts-social-link">
          <svg width="30" height="30">
            <use href="./img/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="contacts-social-item">
        <a href="" class="contacts-social-link">
          <svg width="30" height="30">
            <use href="./img/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="contacts-social-item">
        <a href="" class="contacts-social-link">
          <svg width="30" height="30">
            <use href="./img/icon.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <iframe
      class="contacts-map"
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3153.582603879001!2d-122.42327028702684!3d37.77638411911581!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1757061337677!5m2!1suk!2sua"
      width="871"
      height="343"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <form class="contacts-form">
      <p class="contacts-form-title">Send a message</p>
      <input
        class="contacts-form-input"
        type="text"
        placeholder="Your Name"
        name="user-name"
      />
      <input
        class="contacts-form-input"
        type="email"
        placeholder="Your Email"
        name="user-email"
      />
      <textarea
        class="contacts-form-textarea"
        name=""
        id=""
        placeholder="Your Message"
        name="user-message"
      ></textarea>
      <button class="contacts-form-btn" type="submit">Send</button>
    </form>
  </div>
</section>
