<section class="hero-resources">
  <div class="container">
    <div class="hero-resources-container">
      <div class="hero-resources-text">
        <h1 class="hero-resources-title">Great Business made with Product.</h1>
        <p class="hero-resources-subtitle">
          Build better customer relationships easily messaging that provides a
          more personal experience for you and your customers.
        </p>
        <form class="hero-resources-form">
          <input
            class="hero-resources-input"
            type="text"
            placeholder="Enter your email adress"
          />
          <button class="hero-resources-btn" type="submit">Join Now</button>
        </form>
        <div class="hero-resources-feedback">
          <img
            src="./img/resources/feedback-people.png"
            alt="feedback-people"
            width="121"
            height="50"
          />
          <p class="resources-feedback-title">
            Join over
            <span class="resources-feedback-quantity">4,000</span>+ other
          </p>
        </div>
      </div>
      <img
        src="./img/resources/resources-img.png"
        alt="resources-img"
        width="541"
        height="482"
      />
    </div>
  </div>
</section>
