.enterprise {
  background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
  margin-bottom: 294px;
}

.enterprise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 53px;
  padding-bottom: 51px;
}

.enterprise-subtitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 26px;
}

.enterprise-title {
  font-size: 34px;
  margin-bottom: 21px;
}

.enterprise-text {
  font-size: 18px;
  margin-bottom: 39px;
}

.enterprise-btn-container {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background: #02897a;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.enterprise-btn-container:hover {
  background-color: #1bb6a4;
}

.enterprise-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
