.product {
  margin-bottom: 100px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.product-title {
  font-size: clamp(2rem, 4.35vw, 2.13rem);
  text-align: center;
}

.product-img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.product-list {
  max-width: 543px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1149px) {
  .product-list {
    max-width: 100%;
    display: grid;
    gap: 28px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
  }
}

.product-list-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 16px;
}

.product-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #f4f5f7;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.product-list-title {
  font-weight: 600;
  font-size: 24px;
}

.product-list-text {
  line-height: 1.75;
}
