.customer-header {
  margin-bottom: 100px;
}

.clients {
  margin-bottom: 141px;
}

.customers-client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customers-client-title {
  font-size: 40px;
  margin-bottom: 50px;
}

.customers-client-list {
  display: flex;
  gap: 64px;
  align-items: center;
}

.customers-client-item {
  padding: 16px 0;
}
