.customer-header {
  margin-bottom: 100px;
}

.clients {
  margin-bottom: 141px;
}

.customers-client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customers-client-title {
  font-size: 40px;
  margin-bottom: 50px;
}

.customers-client-list {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1149px) {
  .customers-client-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 64px;
  }
}

@media screen and (min-width: 1150px) {
  .customers-client-list {
    gap: 64px;
    flex-direction: row;
  }
}

.customers-client-item {
  padding: 16px 0;
}
