.join {
  padding: 35px 0;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
  margin-bottom: 150px;
}

.join-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.join-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 93px;
  max-width: 537px;
}

.join-list {
  min-width: 722px;
  display: flex;
  justify-content: space-between;
}

.join-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.join-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  background-color: #ffefef;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 27px;
}

.join-item:nth-child(2) .join-img-wrapper {
  background: #f2f6ff;
}

.join-item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  color: #000;
  margin-bottom: 16px;
}

.join-item-subtitle {
  font-size: 18px;
  line-height: 1.78;
  margin-bottom: 12px;
}

.join-item-product {
  font-weight: 500;
  line-height: 1.75;
  color: #000;
}
