.customers-work {
  margin-bottom: 115px;
}

.customers-work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customers-work-title {
  font-size: clamp(2rem, 7vw, 2.13rem);
  text-align: center;
  margin-bottom: 73px;
}

.customers-work-list {
  max-width: 1027px;
  display: flex;
  flex-wrap: wrap;
  gap: 69px;
}

.customers-work-item {
  display: flex;
  gap: 80px;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .customers-work-item {
    display: grid;
    gap: 80px;
    grid-auto-flow: column;
  }
  .customers-work-item:nth-child(2) > img {
    grid-column: 2;
  }
}

.customers-work-item:nth-child(3) {
  margin-bottom: 78px;
}

.customers-work-img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.work-text-container {
}

.work-item-step {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}

.work-item-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.work-item-subtitle {
  line-height: 1.75;
}

.customers-work-btn {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}
