<section class="collaborative">
  <div class="container collaborative-container">
    <div class="collaborative-text-group">
      <p class="coloborative-article">Optimisation for</p>
      <h2 class="collaborative-title">Collaborative</h2>
      <p class="collaborative-subtitle">
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <ul class="collaborative-list">
        <li class="collaborative-list-item">
          <h3 class="collab-li-title">Accessory makers</h3>
          <p class="collab-li-subtitle">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="collaborative-list-item">
          <h3 class="collab-li-title">Alterationists</h3>
          <p class="collab-li-subtitle">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <svg width="540" height="500" class="benefits-img">
      <use href="./img/icon.svg#icon-collaboration-img"></use>
    </svg>
  </div>
</section>
