<section class="feature">
  <div class="container feature-container">
    <h2 class="feature-tittle">
      Product was Built Specifically<br />
      for You
    </h2>
    <ul class="feature-list">
      <li class="feature-list-item">
        <div class="feature-icon-wrapper">
          <svg width="11" height="18">
            <use href="../img/icon.svg#icon-cursor"></use>
          </svg>
        </div>
        <h3 class="feature-card-title">First click tests</h3>
        <p class="feature-card-text">
          While most people enjoy casino gambling,
        </p>
      </li>
      <li class="feature-list-item">
        <div class="feature-icon-wrapper">
          <svg width="18" height="18">
            <use href="../img/icon.svg#icon-ziczag"></use>
          </svg>
        </div>
        <h3 class="feature-card-title">Design surveys</h3>
        <p class="feature-card-text">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>
      <li class="feature-list-item">
        <div class="feature-icon-wrapper">
          <svg width="16" height="18">
            <use href="../img/icon.svg#icon-heart"></use>
          </svg>
        </div>
        <h3 class="feature-card-title">Preference tests</h3>
        <p class="feature-card-text">
          The Myspace page defines the individual.
        </p>
      </li>
      <li class="feature-list-item">
        <div class="feature-icon-wrapper">
          <svg width="14" height="18">
            <use href="../img/icon.svg#icon-time"></use>
          </svg>
        </div>
        <h3 class="feature-card-title">Five second tests</h3>
        <p class="feature-card-text">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button type="button" class="feature-btn">SIGN UP NOW</button>
  </div>
</section>
