<footer class="footer">
  <div class="container footer-container">
    <div class="footer-left">
      <a href="./index.html" class="footer-logo">
        <svg width="36" height="36">
          <use href="./img/icon.svg#icon-logo"></use>
        </svg>
        Product</a
      >
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a href="" class="footer-social-link">
            <svg width="24" height="24">
              <use href="./img/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="" class="footer-social-link">
            <svg width="24" height="24">
              <use href="./img/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="" class="footer-social-link">
            <svg width="24" height="24">
              <use href="./img/icon.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <nav class="footer-nav">
      <div class="footer-nav-left">
        <p class="footer-nav-title">Resource</p>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">About Us</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Blog</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Contact</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">FAQ</a>
          </li>
        </ul>
      </div>

      <div class="footer-nav-right">
        <p class="footer-nav-title">Legal Stuff</p>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Disclaimer</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Financing</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Privacy Policy</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Terms of Service</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="footer-right">
      <p class="footer-right-title">
        knowing you're always on the best energy deal.
      </p>
      <form class="footer-form">
        <label class="footer-label">
          <svg width="18" height="28" class="footer-label-icon">
            <use href="./img/icon.svg#icon-mobile-screen"></use>
          </svg>
          <input
            class="footer-input"
            type="text"
            placeholder="Enter your phone number"
          />
        </label>
        <button type="button" class="footer-btn">Sign up Now</button>
      </form>
    </div>
    <p class="footer-made">Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
