<section class="news">
  <div class="container">
    <h2 class="news-title">Contents Strategies</h2>
    <p class="news-subtitle">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="news-list">
      <li class="news-list-item">
        <img
          src="./img/product/image-bg.png"
          alt="Wahid Ari"
          width="350"
          class="card-image"
        />
        <p class="news-item-subtitle">
          By <span class="news-item-text">Wahid Ari</span> | 03 March 2019
        </p>
        <h3 class="news-item-title">
          Increasing Prosperity With Positive Thinking
        </h3>
      </li>
      <li class="news-list-item">
        <img src="./img/product/Bitmap-1.png" alt="Wahid Ari-2" width="350" />
        <p class="news-item-subtitle">
          By <span class="news-item-text">Wahid Ari</span> | 03 March 2019
        </p>
        <h3 class="news-item-title">Motivation Is The First Step To Success</h3>
      </li>
      <li class="news-list-item">
        <img src="./img/product/Bitmap.png" alt="Wahid Ari-3" width="350" />
        <p class="news-item-subtitle">
          By <span class="news-item-text">Wahid Ari</span> | 03 March 2019
        </p>
        <h3 class="news-item-title">
          Success Steps For Your Personal Or Business
        </h3>
      </li>
    </ul>
  </div>
</section>
