.header {
  min-width: 320px;
  margin-bottom: 29px;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .header-center {
    position: static;
    transform: none;
  }
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-right {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 25px;
    box-shadow: none;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.93;
  color: #173a56;
  padding: 22px 0;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1150px) {
  .header-logo {
    gap: 16px;
    font-size: 30px;
    margin-right: 237px;
  }

  .header-logo > svg {
    width: 40px;
  }
}

.header-ul {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-ul {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.nav-li-item {
}

.nav-link {
  color: #22343d;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  padding: 26px 0;
  transition-property: color, font-weight;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;
  height: 2px;
  width: 100%;
  background-color: #02897a;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 350ms ease-in-out;
}
.nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50px;
  height: 2px;
  width: 100%;
  background-color: #02897a;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 350ms ease-in-out;
}

.nav-link:not(.active):hover::after,
.nav-link:not(.active):hover::before {
  transform: scaleX(1);
}

.nav-link.active {
  font-weight: 600;
}

.nav-link.active:hover {
  color: inherit;
}

.nav-link.active:hover::after {
  transform: scaleX(1);
}

.nav-link:hover,
.nav-link:focus {
  color: #02897a;
}

.header-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1150px) {
  .header-button {
    flex-direction: row;
  }
}

@media screen and (min-width: 1150px) {
  .header-btn-list {
    padding: 19px 0;
  }
}

.sign-in-btn,
.sign-up-btn {
  font-weight: 600;
  font-size: 14px;
  min-width: 70px;
  height: 29px;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.sign-in-btn {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #bcd0e5;
}

.sign-up-btn {
  color: #fff;
  background-color: #02897a;
  border: none;
}

@media screen and (min-width: 1150px) {
  .sign-in-btn {
    font-size: 16px;
    min-width: 105px;
    height: 42px;
  }

  .sign-up-btn {
    font-size: 16px;
    min-width: 113px;
    height: 42px;
  }
}

.sign-in-btn:hover,
.sign-in-btn:focus,
.promo-button:hover,
.promo-button:focus {
  background-color: #dfe0e2;
}

.sign-up-btn:hover,
.sign-up-btn:focus,
.hero-btn-1:hover,
.hero-btn-1:focus,
.feature-btn:hover,
.feature-btn:focus,
.staff-btn:hover,
.staff-btn:focus,
.price-btn-container:hover,
.price-btn-container:focus,
.footer-btn:hover,
.footer-btn:focus {
  background-color: #03a38c;
}

.sign-up-btn:active,
.hero-btn-1:active,
.feature-btn:active,
.staff-btn:active,
.price-btn-container:active,
.footer-btn:active {
  background-color: #027367;
}

.burger-menu-btn {
  background-color: transparent;
  border: none;
  padding: 22px 0;
}

@media screen and (min-width: 768px) {
  .burger-menu-btn {
    display: none;
  }
}

.theme-btn {
  display: grid;
  align-content: center;
  justify-content: center;
  border: none;
  background-color: #f3f3f3;
  border-radius: 100px;
  width: 32px;
  height: 32px;
}
