<section class="business">
  <div class="container business-container">
    <div class="business-text-group">
      <p class="business-p">Effortless Validation for</p>
      <h2 class="business-title">Management</h2>
      <p class="business-sub-p">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="business-list">
        <li>
          <h3 class="businnes-li-title">Accessory makers</h3>
          <p class="businnes-li-subtitle">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h3 class="businnes-li-title">Alterationists</h3>
          <p class="businnes-li-subtitle">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <svg width="280" height="275" class="benefits-img">
      <use href="./img/icon.svg#icon-management-img"></use>
    </svg>
  </div>
</section>
