<section class="feedback">
  <div class="container">
    <h2 class="feedback-title">What Clients Say</h2>
    <p class="feedback-subtitle">
      Problems trying to resolve the conflict between<br />
      the two major realms of Classical physics: Newtonian mechanics
    </p>
    <ul class="feedback-list">
      <li class="feedback-list-item">
        <svg class="icon-feadback" width="107" height="18">
          <use href="./img/icon.svg#icon-stars"></use>
        </svg>
        <p class="feedback-review">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="reviewer-container">
          <img src="./img/product/Ellipse1.png" alt="client-1" width="50" />
          <div>
            <span class="feedback-author">Wahid Ari</span>
            <span class="author-prof">Designer</span>
          </div>
        </div>
      </li>
      <li class="feedback-list-item">
        <svg class="icon-feadback" width="107" height="18">
          <use href="./img/icon.svg#icon-stars"></use>
        </svg>
        <p class="feedback-review">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="reviewer-container">
          <img src="./img/product/Ellipse2.png" alt="client-2" width="50" />
          <div>
            <span class="feedback-author">Wahid Ari</span>
            <span class="author-prof">Designer</span>
          </div>
        </div>
      </li>
      <li class="feedback-list-item">
        <svg class="icon-feadback" width="107" height="18">
          <use href="./img/icon.svg#icon-stars"></use>
        </svg>
        <p class="feedback-review">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="reviewer-container">
          <img src="./img/product/Ellipse3.png" alt="client-3" width="50" />
          <div>
            <span class="feedback-author">Wahid Ari</span>
            <span class="author-prof">Designer</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
