<header class="header">
  <div class="container header-container">
    <!-- Burger Menu -->
    <div class="header-left">
      <button type="button" class="burger-menu-btn">
        <svg width="26" height="26">
          <use href="/img/icon.svg#icon-mob-menu"></use>
        </svg>
      </button>
    </div>
    <!-- Logo -->
    <div class="header-center">
      <a href="/index.html" class="header-logo">
        <svg width="36" height="36">
          <use href="/img/icon.svg#icon-logo"></use>
        </svg>
        Product</a
      >
    </div>
    <!-- Nav -->
    <nav class="header-nav">
      <ul class="header-ul">
        <li class="nav-li-item">
          <a href="index.html" class="nav-link active">Product</a>
        </li>
        <li class="nav-li-item">
          <a href="pricing.html" class="nav-link">Pricing</a>
        </li>
        <li class="nav-li-item">
          <a href="customers.html" class="nav-link">Customers</a>
        </li>
        <li class="nav-li-item">
          <a href="resources.html" class="nav-link">Resources</a>
        </li>
      </ul>
    </nav>
    <!-- Reg -->
    <ul class="header-button">
      <li class="header-btn-list">
        <button type="button" class="sign-in-btn">Sign In</button>
      </li>
      <li class="header-btn-list">
        <button type="button" class="sign-up-btn">Sign Up</button>
      </li>
    </ul>
    <!-- Theme -->
    <div class="header-right">
      <button type="button" class="theme-btn">
        <svg width="24" height="24">
          <use href="/img/icon.svg#icon-theme-change"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
