<section class="hero">
  <div class="container hero-container">
    <svg width="280" height="275" class="hero-img">
      <use href="/img/icon.svg#icon-hero-img"></use>
    </svg>
    <div class="hero-text-group">
      <h1 class="hero-title">
        Work at the speed <br />
        of thought
      </h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <div class="hero-button">
        <button type="button" class="hero-btn-1">
          <span class="hero-btn-text">Get started</span>
        </button>
        <a href="/index.html" class="hero-btn-2">
          <svg width="16" height="18">
            <use href="/img/icon.svg#icon-play"></use>
          </svg>
          <span class="btn-2-text">Watch the Video</span></a
        >
      </div>
    </div>
  </div>
</section>
