<section class="price">
  <div class="container">
    <h2 class="price-title">Price Table</h2>
    <p class="price-text">We offer competitive price</p>
    <ul class="price-list">
      <li class="price-list-item">
        <h3 class="price-plan">Free</h3>
        <p class="price-dscr">Brief price description</p>
        <div class="tax-container">
          <span class="tax-title">0</span>
          <div class="tax-right">
            <span class="tax-value">$</span>
            <span class="tax-per-month">Per / month</span>
          </div>
        </div>
        <ul class="price-include-list">
          <li class="price-include">Only 2 Operators</li>
          <li class="price-include">Notifications</li>
          <li class="price-include">Landing Pages</li>
        </ul>
        <button type="button" class="price-btn-container price-btn">
          Order Now
        </button>
      </li>
      <li class="price-list-item">
        <h3 class="price-plan">Standard</h3>
        <p class="price-dscr">Brief price description</p>
        <div class="tax-container">
          <span class="tax-title">5</span>
          <div class="tax-right">
            <span class="tax-value">$</span>
            <span class="tax-per-month">Per / month</span>
          </div>
        </div>
        <ul class="price-include-list">
          <li class="price-include">5+ Operators</li>
          <li class="price-include">Notifications</li>
          <li class="price-include">Landing Pages</li>
        </ul>
        <button type="button" class="price-btn-container price-btn">
          Order Now
        </button>
      </li>
      <li class="price-list-item">
        <h3 class="price-plan">Premium</h3>
        <p class="price-dscr">Brief price description</p>
        <div class="tax-container">
          <span class="tax-title">10</span>
          <div class="tax-right">
            <span class="tax-value">$</span>
            <span class="tax-per-month">Per / month</span>
          </div>
        </div>
        <ul class="price-include-list">
          <li class="price-include">10+ Operators</li>
          <li class="price-include">Notifications</li>
          <li class="price-include">Landing Pages</li>
        </ul>
        <button type="button" class="price-btn-container price-btn">
          Order Now
        </button>
      </li>
    </ul>
  </div>
</section>
