<section class="support">
  <div class="container support-container">
    <svg width="540" height="500" class="benefits-img">
      <use href="./img/icon.svg#icon-support-img"></use>
    </svg>
    <div class="support-text-group">
      <p class="support-article">Easier decision making for</p>
      <h2 class="support-title">Customer Support</h2>
      <p class="support-subtitle">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-list">
        <li class="support-list-item">
          <div class="support-img-wrapper">
            <svg width="16" height="12" class="support-icon">
              <use href="./img/icon.svg#icon-path"></use>
            </svg>
          </div>
          <p class="support-li-subtitle">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-list-item">
          <div class="support-img-wrapper">
            <svg width="16" height="12" class="support-icon">
              <use href="./img/icon.svg#icon-path"></use>
            </svg>
          </div>
          <p class="support-li-subtitle">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-list-item">
          <div class="support-img-wrapper">
            <svg width="16" height="12" class="support-icon">
              <use href="./img/icon.svg#icon-path"></use>
            </svg>
          </div>
          <p class="support-li-subtitle">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
