<section class="enterprise">
  <div class="container enterprise-container">
    <p class="enterprise-subtitle">ENTERPRISE</p>
    <h2 class="enterprise-title">
      Are you interested in a custom-tailored plan?
    </h2>
    <p class="enterprise-text">
      Product is a set of advanced features for really large teams with
      projects.
    </p>
    <button type="button" class="enterprise-btn enterprise-btn-container">
      Get in touch with us
    </button>
  </div>
</section>
<section class="product">
  <div class="container">
    <div class="product-container">
      <h2 class="product-title">
        Product is being used with great effects alongside:
      </h2>
      <img
        class="product-img"
        src="./img/pricing/amico.png"
        alt="amico"
        width="528"
      />
      <ul class="product-list">
        <li class="product-list-item">
          <div class="product-list-icon">
            <svg width="24" height="24">
              <use href="./img/icon.svg#icon-01"></use>
            </svg>
          </div>
          <h3 class="product-list-title">Enterpreneur</h3>
          <p class="product-list-text">
            Product is a great way to help medium and samall enterprise owners
            achieve their goals
          </p>
        </li>
        <li class="product-list-item">
          <div class="product-list-icon">
            <svg width="24" height="24">
              <use href="./img/icon.svg#icon-04"></use>
            </svg>
          </div>
          <h3 class="product-list-title">Accountants</h3>
          <p class="product-list-text">
            Whether you are working on contract with clients, or on other key
            accounting documents, Product is for you
          </p>
        </li>
        <li class="product-list-item">
          <div class="product-list-icon">
            <svg width="24" height="24">
              <use href="./img/icon.svg#icon-05"></use>
            </svg>
          </div>
          <h3 class="product-list-title">Universities</h3>
          <p class="product-list-text">
            Organize university projects and have documents easily<br />
            graded online with Product
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
