<section class="pricing">
  <div class="container">
    <p class="pricing-subtitle">PRICING</p>
    <h1 class="pricing-title">Let’s get some real work done here.</h1>
    <p class="pricing-text">
      Prodict is your perfect solution for working. Get started now for free
    </p>
    <ul class="price-list">
      <li class="price-list-item">
        <h3 class="price-plan">Free</h3>
        <p class="price-dscr">Brief price description</p>
        <div class="tax-container">
          <p class="tax-title">0</p>
          <div class="tax-right">
            <p class="tax-value">$</p>
            <p class="tax-per-month">Per / month</p>
          </div>
        </div>
        <ul class="price-include-list">
          <li class="price-include">Only 2 Operators</li>
          <li class="price-include">Notifications</li>
          <li class="price-include">Landing Pages</li>
        </ul>
        <button type="button" class="price-btn-container price-btn">
          Order Now
        </button>
      </li>
      <li class="price-list-item">
        <h3 class="price-plan">Standard</h3>
        <p class="price-dscr">Brief price description</p>
        <div class="tax-container">
          <p class="tax-title">5</p>
          <div class="tax-right">
            <p class="tax-value">$</p>
            <p class="tax-per-month">Per / month</p>
          </div>
        </div>
        <ul class="price-include-list">
          <li class="price-include">5+ Operators</li>
          <li class="price-include">Notifications</li>
          <li class="price-include">Landing Pages</li>
        </ul>
        <button type="button" class="price-btn-container price-btn">
          Order Now
        </button>
      </li>
      <li class="price-list-item">
        <h3 class="price-plan">Premium</h3>
        <p class="price-dscr">Brief price description</p>
        <div class="tax-container">
          <p class="tax-title">10</p>
          <div class="tax-right">
            <p class="tax-value">$</p>
            <p class="tax-per-month">Per / month</p>
          </div>
        </div>
        <ul class="price-include-list">
          <li class="price-include">10+ Operators</li>
          <li class="price-include">Notifications</li>
          <li class="price-include">Landing Pages</li>
        </ul>
        <button type="button" class="price-btn-container price-btn">
          Order Now
        </button>
      </li>
    </ul>
  </div>
</section>
