<section class="question">
  <div class="container">
    <div class="question-container">
      <h2 class="question-title">Frequently asked question</h2>
      <p class="question-subtitle">
        Something is not clear? You need help? Check our FAQ section
      </p>
      <ul class="question-list">
        <li class="question-list-item">
          <input type="checkbox" id="q1" class="faq-checkbox visually-hidden" />
          <label for="q1" class="faq-question">
            <svg width="24" height="24" class="faq-icon-plus">
              <use href="./img/icon.svg#icon-plus_circle"></use>
            </svg>
            <svg width="24" height="24" class="faq-icon-minus">
              <use href="./img/icon.svg#icon-minus_circle"></use>
            </svg>
            <span class="faq-question-title">What are my payment option?</span>
          </label>
          <div class="faq-answer">
            <p class="faq-answer-text">ANSWER</p>
          </div>
        </li>
        <li class="question-list-item">
          <input type="checkbox" id="q2" class="faq-checkbox visually-hidden" />
          <label for="q2" class="faq-question">
            <svg width="24" height="24" class="faq-icon-plus">
              <use href="./img/icon.svg#icon-plus_circle"></use>
            </svg>
            <svg width="24" height="24" class="faq-icon-minus">
              <use href="./img/icon.svg#icon-minus_circle"></use>
            </svg>
            <span class="faq-question-title"
              >How can I invite collaborator to platform?</span
            >
          </label>
          <div class="faq-answer">
            <p class="faq-answer-text">
              After creating your account you will have an oppurtunity to create
              your first project that will be associated with the collaborators
              e-mail. An invitation will be sent automatically. Then, invited
              user will have to confirm his account by e-mail and finish userd
              onboarding.
            </p>
          </div>
        </li>
        <li class="question-list-item">
          <input type="checkbox" id="q3" class="faq-checkbox visually-hidden" />
          <label for="q3" class="faq-question">
            <svg width="24" height="24" class="faq-icon-plus">
              <use href="./img/icon.svg#icon-plus_circle"></use>
            </svg>
            <svg width="24" height="24" class="faq-icon-minus">
              <use href="./img/icon.svg#icon-minus_circle"></use>
            </svg>
            <span class="faq-question-title">Can I upgrade my plan?</span>
          </label>
          <div class="faq-answer">
            <p class="faq-answer-text">ANSWER</p>
          </div>
        </li>
        <li class="question-list-item">
          <input type="checkbox" id="q4" class="faq-checkbox visually-hidden" />
          <label for="q4" class="faq-question">
            <svg width="24" height="24" class="faq-icon-plus">
              <use href="./img/icon.svg#icon-plus_circle"></use>
            </svg>
            <svg width="24" height="24" class="faq-icon-minus">
              <use href="./img/icon.svg#icon-minus_circle"></use>
            </svg>
            <span class="faq-question-title"
              >Can I cancel my plan at anytime?</span
            >
          </label>
          <div class="faq-answer">
            <p class="faq-answer-text">ANSWER</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
