.contacts {
  margin-bottom: 100px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-title {
  font-size: 34px;
  line-height: 1.68;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 17px;
}

.contacts-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.01em;
  text-align: center;
  color: #374754;
  margin-bottom: 55px;
}

.dark .contacts-subtitle {
  color: #fff;
}

.contacts-social-list {
  display: flex;
  gap: 22px;
  margin-bottom: 55px;
}

.contacts-social-item {
  width: 50px;
  height: 50px;
}

.contacts-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #edfffc;
}

.contacts-map {
  margin-bottom: 50px;
  border-radius: 20px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .contacts-form {
    padding: 52px 50px;
    border: 1px solid #ddd;
    border-radius: 20px;
  }
}

.contacts-form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  text-align: center;
  margin-bottom: 45px;
}

.contacts-form-input {
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 20px;
  width: 100%;
  height: 54px;
  outline: transparent;
  background-color: #f5f5f5;
  margin-bottom: 45px;
  font-size: 15px;
  color: #22343d;
}

.contacts-form-input::placeholder {
  font-size: 15px;
  line-height: 1.067;
  letter-spacing: 0.01em;
  color: #22343d;
}

.contacts-form-textarea {
  border: 1px solid #e8e8e8;
  padding: 23px 20px;
  width: 100%;
  height: 193px;
  outline: transparent;
  background-color: #f5f5f5;
  resize: none;
  margin-bottom: 45px;
  font-size: 15px;
  color: #22343d;
}

.contacts-form-textarea::placeholder {
  font-size: 15px;
  line-height: 1.067;
  letter-spacing: 0.01em;
  color: #22343d;
}

.contacts-form-btn {
  border-radius: 35px;
  min-width: 145px;
  height: 52px;
  background-color: #02897a;
  border: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.01em;
  cursor: pointer;
}
