.hero-resources {
  margin-bottom: 67px;
}

.hero-resources-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .hero-resources-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hero-resources-title {
  font-weight: 600;
  font-size: clamp(2.18rem, 3vw, 2.5rem);
  line-height: 1.49;
  letter-spacing: -0.03em;
  max-width: 380px;
  margin-bottom: 24px;
  text-align: center;
}

.hero-resources-subtitle {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.03em;
  max-width: 536px;
  margin-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-resources-title {
    text-align: left;
  }

  .hero-resources-subtitle {
    text-align: left;
  }
}

.hero-resources-form {
  margin-bottom: 24px;
  max-width: 369px;
  height: 66px;
  position: relative;
}

.hero-resources-input {
  width: 100%;
  height: 100%;
  border: 1px solid #eaeaea;
  border-radius: 100px;
  padding: 0;
  padding-left: 15px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .hero-resources-form {
    max-width: 469px;
  }

  .hero-resources-input {
    padding-left: 27px;
  }
}

.dark .hero-resources-input {
  background-color: transparent;
  color: #fff;
}

.hero-resources-input::placeholder {
  line-height: 1;
  letter-spacing: -0.03em;
  color: #22343d;
}

.dark .hero-resources-input::placeholder {
  color: #fff;
}

.hero-resources-btn {
  border-radius: 100px;
  width: 117px;
  height: 50px;
  background-color: #02897a;
  border: none;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 8px;
  cursor: pointer;
  transform: translateY(-50%);
}

.hero-resources-feedback {
  display: flex;
  align-items: center;
  gap: 9px;
}

.resources-feedback-title {
  font-size: 14px;
}

.resources-feedback-quantity {
  font-weight: 500;
  color: #02897a;
}
