.hero-resources {
  margin-bottom: 67px;
}

.hero-resources-container {
  display: flex;
  justify-content: space-between;
}

.hero-resources-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.49;
  letter-spacing: -0.03em;
  max-width: 380px;
  margin-bottom: 24px;
}

.hero-resources-subtitle {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.03em;
  max-width: 536px;
  margin-bottom: 24px;
}

.hero-resources-form {
  margin-bottom: 24px;
  width: 469px;
  height: 66px;
  position: relative;
}

.hero-resources-input {
  width: 100%;
  height: 100%;
  border: 1px solid #eaeaea;
  border-radius: 100px;
  padding: 0;
  padding-left: 27px;
  outline: none;
}

.hero-resources-input::placeholder {
  line-height: 1;
  letter-spacing: -0.03em;
  color: #22343d;
}

.hero-resources-btn {
  border-radius: 100px;
  width: 117px;
  height: 50px;
  background-color: #02897a;
  border: none;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 8px;
  cursor: pointer;
  transform: translateY(-50%);
}

.hero-resources-feedback {
  display: flex;
  align-items: center;
  gap: 9px;
}

.resources-feedback-title {
  font-size: 14px;
}

.resources-feedback-quantity {
  font-weight: 500;
  color: #02897a;
}
